<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>一覧画面</title>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/input/input.css}">
</head>
<body>
	<div class = "wrapper">
		<header>
			<div class="header-left">
				<div class="header-icon">
					<img class="icon" th:src="@{/images/icon.png}" alt="アイコン">
				</div>
			</div>
			<div class="header-right">
				<h2 class="project-title">JavaTeamDevelopment</h2>
			</div>
		</header>
		<main>
			<div class="contents-container">
				<h1>自己紹介登録者一覧</h1>
			</div>
		</main>
	</div>
</body>
</html>