<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Team Dev Completed</title>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" th:href="@{css/common/common.css}">
<link rel="stylesheet" th:href="@{css/completed/completed.css}">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header-left">
				<div class="header-icon">
					<img class="icon" th:src="@{/images/icon.png}" alt="アイコン">
				</div>
			</div>
			<div class="header-right">
				<h2 class="project-title">JavaTeamDevelopment</h2>
			</div>
		</header>
		<main>
			<div class="contents-container">
				<div class="content">
					<h1>自己紹介の登録が完了しました！</h1>
					<div class="entry-detail">
						<p>下記内容の自己紹介の登録が完了しました！</p>
						<p>自己紹介の内容を変更するには登録内容一覧画面から編集を選択していただくか、<br>管理者へお問い合わせください。</p>
					</div>
					<a href="#">TOPへ戻る</a>
				</div>
			</div>
		</main>
	</div>
</body>
</html>