<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://bybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper mamespace="mybatis.UserMapper">
	<resultMap id="FullResultMap" type="com.example.demo.model.User">
		<id column="user_id" property="userId" />
		<result column="email" property="email" />
		<result column="password" property="password" />
		<result column="created_at" property="createdDate" />
	</resultMap>
	
	<select id="selectAll" resultMap="FullResultMap">
		SELECT * FROM users
	</select>
	
	<select id="selectById" resultMap="FullResultMap" parameterType="java.lang.String">
		SELECT * FROM users WHERE id = ${id}
	</select>
	
	<insert id="insertUser" parameterType="com.example.demo.model.User">
		INSERT INTO users VALUES (#{userID}, #{email}, #{password}, #{createdDate})
	</insert>
</mapper>