<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>自己紹介登録確認画面</title>
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
	<link rel="stylesheet" th:href="@{/css/input/inputCheck.css}">
</head>

<body>

	<header>
		<ul class="header-icon">
			<img class="icon" th:src="@{/images/icon.png}" alt="アイコン">
		</ul>

		<div class="headerMenu">
			<h2 class="project-title">JavaTeamDevelopment</h2>
		</div>
	</header>

	<main>
		<div class="title">
			<h4>自己紹介登録確認</h4>
		</div>
		<br>
		<form action="/saveInput" method="POST">
			<div class="main_form">
				<input type="hidden" name="_csrf" value="${_csrf.token}" />
				<!-- 名前表示 -->
				<div class="input">
					<label for="id">名前</label>
					<span class="DisplaySmallField" th:text="${ir.name}"></span>
				</div>
				<br>
				<br>

				<!-- フリガナ表示 -->
				<div class="input">
					<label for="id">フリガナ</label>
					<span class="DisplaySmallField" th:text="${ir.kana}"></span>
				</div>
				<br>
				<br>

				<!-- 性別表示 -->
				<div class="input">
					<label for="gender">性別</label>
					<span class="DisplaySmallField" th:text="${ir.gender}"></span>
				</div>
				<br>
				<br>

				<!-- 趣味表示 -->
				<div class="input">
					<label for="hobby">趣味</label>
					<span class="DisplayMiddleField" th:text="${ir.hobby}"></span>
				</div>
				<br>
				<br>
				<br>
				<br>

				<!-- ひとこと表示 -->
				<div class="input">
					<label for="id">ひとこと</label>
					<span class="DisplayLargeField" th:text="${ir.word}"></span>
				</div>
			</div>
			<br>
			<br>
			<br>
			<br>

			<!-- 送信/戻るボタン -->
			<div class="input">
				<label for="id"></label>
				<div class="button">
					<a href="/input" class="btn">戻る</a>
					<input type="submit" value="完了" class="btn">
				</div>
			</div>
		</form>
	</main>
</body>


</html>