<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Team Dev Login</title>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header-left">
				<div class="header-icon">
					<img class="icon" th:src="@{/images/icon.png}" alt="アイコン">
				</div>
			</div>
			<div class="header-right">
				<h2 class="project-title">JavaTeamDevelopment</h2>
			</div>
		</header>
		<main>
			<div class="contents-container">
				<div class="content centering">
					<h2>ログイン</h2>
					<form class="login-form centering" th:action="@{/login/login_check}" th:object="${form}" method="post">
						<div class="error-print" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" style="color:red"></div>
						<div class="form-userid form-index">
							<label for="userid">UserID</label>
							<input th:field="*{userId}" class="input-area" type="text">
						</div>
						<div class="error-print" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></div>
						<div class="form-password form-index">
							<label for="password">PassWord</label>
							<input th:field="*{password}" class="input-area" type="password">
						</div>
						<button class="btn" type="submit">ログイン</button>
					</form>
					<a th:href="@{/signup}">新規会員登録はこちら</a>
				</div>
			</div>
		</main>
	</div>
</body>
</html>