<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Team Dev Signup</title>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{/css/signup/signup.css}">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header-left">
				<div class="header-icon">
					<img class="icon" th:src="@{/images/icon.png}" alt="アイコン">
				</div>
			</div>
			<div class="header-right">
				<h2 class="project-title">JavaTeamDevelopment</h2>
			</div>
		</header>
		<main>
			<div class="contents-container">
				<div class="content centering">
					<h2>新規会員登録</h2>
					<form class="login-form centering" th:action="@{/top}" method="post">
						<div class="form-userid form-index">
							<div class="label-wrap">
								<label for="userid">UserID</label>
								<p class="required">必須</p>
							</div>
							<input class="input-area" type="text">
						</div>
						<div class="form-email form-index">
							<div class="label-wrap">
								<label for="email">MailAddress</label>
								<p class="required">必須</p>
							</div>
							<input class="input-area" type="text">
						</div>
						<div class="form-password form-index">
							<div class="label-wrap">
								<label for="password">PassWord</label>
								<p class="required">必須</p>
							</div>
							<input class="input-area" type="password">
						</div>
						<button class="btn" type="submit">登録</button>
					</form>
					<a th:href="@{/login}">ログイン画面へ</a>
				</div>
			</div>
		</main>
	</div>
</body>
</html>