/* -----------------------------　ヘッダー　----------------------*/
header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 4%;
    width: 100%
}

.header-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
}

.icon {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ------------------------- 画面背景色地味に変えてます ------------------------------ */

main {
    background-color: ghostwhite;
}

/* ----------------------- フォームスタイル　-----------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
   
}


.main_form {
    width: 1200px;
    max-width: 600px;
}



/* -------------------------　入力欄スタイル　--------------------- */

/* 各項目名デザイン指定 */
label {
    width: 150px;
    font-weight: bold;
}

/* 入力欄デザイン指定 */
#id {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.DisplaySmallField {
    width: 600px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.DisplayMiddleField {
    width: 600px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.DisplayLargeField {
    width: 600px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.button {
    display: flex;
    justify-content: flex-start;
    width: 600px;
}


/* 項目名と入力欄を横並びにしてくれる神 */

.input {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 25px;
}

/* ------------------- 送信/戻るボタンデザイン --------------- */

.btn {
    width: 200px;
    height: 50px;
    font-weight: bold;
    background: #27acd9;
    color: #fff;
    border-radius: 100vh;
    position: relative;
    transition: 0.5s;
    margin-right: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: #44c6f2;
    color: #fff;
}