<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Test team dev</title>
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="stylesheet" th:href="@{/css/common/common.css}">
<link rel="stylesheet" th:href="@{css/top/top.css}">
</head>
<body>
	<div class="wrapper">
		<header>
			<div class="header-left">
				<div class="header-icon">
					<img class="icon" th:src="@{/images/icon.png}" alt="アイコン">
				</div>
			</div>
			<div class="header-right">
				<h2 class="project-title">JavaTeamDevelopment</h2>
			</div>
		</header>
		<main>
			<div class="contents-container">
				<div class="content">
					<article class="register content-item">
						<h1>自己紹介登録</h1>
						<div class="description">
							<p>新しく自己紹介を作ります。</p>
							<p>あなたをより知ってもらうために、<br>趣味や一言を工夫しましょう。</p>
							<p>最高の自己紹介を完成させて、よりあなたを<br>知ってもらえるチャンスにしましょう。</p>
						</div>
						<a href="#">登録に進む</a>
					</article>
					<article class="show-list content-item">
						<h1>自己紹介登録者一覧</h1>
						<div class="description">
							<p>登録している人を確認します。</p>
							<p>登録している人の自己紹介記事を見てみましょう。</p>
						</div>
						<a href="#">一覧表示</a>
					</article>
				</div>
			</div>
		</main>
	</div>
</body>
</html>