<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.InputMapper">
    <insert id="insertInput" parameterType="com.example.demo.form.InputRequest">
        INSERT INTO your_table (name, subName, gender, hobby, comment)
        VALUES (#{name}, #{subName}, #{gender}, #{hobby}, #{comment})
    </insert>
</mapper>
